<div class="dashboard">
  
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/machines/add" class="btn">Incluir O.S</a>
    <a href="/machines/allmachines" class="btn">Todas - O.Ss</a>
  </div>
</div>

