<div class="home-form-container">
  <h1>Bem vindo(a) à  <span>L.S.</span>  Manutenção Especializada!</h1>


    {{!-- <pre>
        &uarr;
       &larr;  &rarr;
        &darr;
        &#x1F6E0;
        &#128295;
    </pre> --}}
</div>